build-prod:
  # Official docker image.
  image: docker:latest
  stage: deploy
  cache:
    paths:
      - node_modules/
  services:
    - name: docker:dind
      alias: docker-service
  variables:
    DOCKER_TLS_CERTDIR: ""
    DOCKER_DRIVER: overlay2
  before_script:
    - apk update
    - apk add openssh
    - apk add git
    - echo "91.98.112.89 git.pendara.co" >> /etc/hosts
    - export REPO_UPLOAD_ADD=$(echo "$CI_REGISTRY/$CI_REGISTRY_USER/$CI_PROJECT_NAME" | tr '[:upper:]' '[:lower:]')
    - export 
  script:
    - chmod +x scripts/*
    - source scripts/deploy.sh 
  only:
    - master

build-nigthly:
  # Official docker image.
  image: docker:latest
  stage: deploy
  cache:
    paths:
      - node_modules/
  services:
    - name: docker:dind
      alias: docker-service
  variables:
    DOCKER_TLS_CERTDIR: ""
    DOCKER_DRIVER: overlay2
    #  before_script:
#    - apk update
#    - apk add openssh
#    - apk add git
#    - echo "91.98.112.89 git.pendara.co" >> /etc/hosts
#    - export REPO_UPLOAD_ADD=$(echo "$CI_REGISTRY/$CI_REGISTRY_USER/$CI_PROJECT_NAME" | tr '[:upper:]' '[:lower:]')
#    - export 
  script:
    - docker pull $CI_REGISTRY_IMAGE:latest || true
    - docker build --cache-from $CI_REGISTRY_IMAGE:latest -t $CI_REGISTRY_IMAGE:staging . -f Dockerfile_staging
    - docker push $CI_REGISTRY_IMAGE:latest

        #- chmod +x scripts/*
      #- source scripts/deploy_nigthly.sh 
  only:
    - develop
