werkzeug
Flask
Flask-RESTful
Flask-SQLAlchemy
flask-cors
Flask-Mail
flask_limiter
Flask-Migrate
flask_jwt_extended
Flask-WTF
SQLAlchemy
sqlalchemy_utils
psycopg2
requests
flasgger
pyotp
gunicorn
dictdiffer
Flask-Caching
beautifulsoup4
requests
celery
redis
khayyam
celery-redbeat
ujson
babel
flask_monitoringdashboard
phonenumbers
mailerlite-api-python
WTForms-Alchemy
pydantic
future

