jinja2==2.11.1
werkzeug
Flask
Flask-RESTful
Flask-SQLAlchemy
flask-cors
Flask-Mail
flask_limiter
Flask-Migrate
flask_jwt_extended
Flask-WTF
SQLAlchemy
sqlalchemy_utils
psycopg2-binary
requests
flasgger
pyotp
gunicorn
dictdiffer
Flask-Caching
beautifulsoup4
requests
celery
redis
khayyam
celery-redbeat
ujson
babel
flask_monitoringdashboard
phonenumbers
mailerlite-api-python
WTForms-Alchemy
pydantic
future
flower
humps
sentry-sdk[flask]==0.16.2
i18n
python-dotenv==0.14.0
