werkzeug
Flask
Flask-RESTful
Flask-SQLAlchemy
flask-cors
Flask-Mail
flask_limiter
Flask-Migrate
flask_jwt_extended
Flask-WTF
SQLAlchemy
psycopg2
requests
flasgger==0.9.2
pyotp
gunicorn
dictdiffer
Flask-Caching
beautifulsoup4
requests
celery
redis
khayyam
celery-redbeat

