<!-- Verification email -->

{% extends "fa/base.html" %}
{% block title %}
    نیاز‌های غیر‌قابل پرداخت
{% endblock %}
{% block img %}
    <img src="https://api.sayapp.company/public/resources/img/verification_v2.png" style="height: 100px;" />
{% endblock %}
{% block tcontent %}
    این نیاز‌ّا در سه روز گذشته نام
{% endblock %}
{% block mcontent %}
    <table dir="rtl" style="
            border: 2px solid #cccccc;
            border-collapse: collapse;
            font-family: iranyekan, Tahoma;
            color: #515151;
            direction: rtl;
            text-align: center;
            font-weight: normal;
            width: 90%;
            max-width: 500px;
            margin: 0 auto;">
        <thead>
            <tr>
                <td style="
                    font-family: iranyekan, Tahoma;
                    border: 2px solid #cccccc;
                    padding: 20px 2px;
                    ">کالا</td>
                <td style="
                    font-family: iranyekan, Tahoma;
                    border: 2px solid #cccccc;
                    padding: 20px 2px;
                    ">کودک</td>
            </tr>
        </thead>
        <tbody>
            {% for need in needs %}
            <tr>
                <td style="
                    font-family: iranyekan, Tahoma;
                    padding: 20px 2px;
                    border: 2px solid #cccccc;
                    "><a href={{need.link}}> {{need.title}} </a>
                </td>
                <td style="
                    font-family: iranyekan, Tahoma;
                    padding: 20px 2px;
                    border: 2px solid #cccccc;
                   ">{{need.child.sayName}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
