<!-- Report needs that updated from yesterday to family members -->

{% extends "fa/base.html" %}
{% block title %}
    آخرین وضعیت نیازهای پرداخت شده برای {{child_sayName}}
{% endblock %}
{% block img %}
    <img src="https://api.sayapp.company/public/resources/img/purchased_v2.png" style="height: 100px;" />
{% endblock %}
{% block tcontent %}
    آخرین وضعیت نیازهای پرداخت شده برای {{child_sayName}}
{% endblock %}
{% block mcontent %}
<p style="
        font-family: iranyekan, Tahoma;
        font-size: 16px;
        direction: rtl;
        margin-bottom: 20px;
        color: #515151;
        ">
    با سلام
    <br />
    شما که دریافت کننده‌ی این ایمیل‌اید خانواده {{child_sayName}} هستید و ما می‌خواهیم به شما از تغییر وضعیت نیازهای
    پرداخت شده بگوییم. جدولی که در ادامه آمده خلاصه‌ی تغییرات نیازهای کودک شما در تاریخ {{yesterday_date}} است.
</p>
<p style="
        font-family: iranyekan, Tahoma;
        font-size: 16px;
        font-weight: bold;
        direction: rtl;
        color: #515151;
        ">
    شرح وضعیت
</p>
<table style="
    border: 2px solid #cccccc;
    border-collapse: collapse;
    font-family: iranyekan, Tahoma;
    color: #515151;
    direction: rlt;
    text-align: center;
    font-weight: normal;
    width: 90%;
    max-width: 500px;
    margin: 0 auto 30px;">
    <tbody>
        {% for need in needs %}
        <tr>
            <td style="
                font-family: iranyekan, Tahoma;
                padding: 20px 2px;
                border: 2px solid #cccccc;
                ">{{loop.index}}</td>
            <td style="
                font-family: iranyekan, Tahoma;
                padding: 20px 2px;
                border: 2px solid #cccccc;
                ">
                    {{need.status_description}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- TODO: please set the link to the child page on application -->
<a href="{{child_page}}" style="
                font-family: roboto, 'Roboto';
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                padding: 15px 0;
                width: 200px;
                border-radius: 3px;
                text-decoration: none;
                background-color: #3d4f41;
                color: #ffffff;
                display: inline-block;
                text-align: center;
                ">
    SAY App
</a>

{% endblock %}
